<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>{{ page_title }}</title>
     {{ 'common-imports.css' |  asset_url |  stylesheet_tag }}

    {{ content_for_header }}

    <script>
      document.documentElement.classList.add(`native-share--${navigator.share ? 'enabled' : 'disabled'}`);
    </script>
  </head>

  <body>
    <a href="#MainContent" class="skip-link">Skip to main content</a>
    {% sections 'header-group' %}
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}

    </main>
    <script src="{{ 'vendors.js' | asset_url }}" defer></script>
    <script src="{{ 'shared.js' | asset_url }}" defer></script>
    <script src="{{ 'global.js' | asset_url }}" defer></script>
  </body>
</html>
